{% load static%}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    {% if title %}
        <title>Django PPL - {{ title  }}</title>
    {% else %}
        <title>Django PPL</title>
    {% endif %}
    <style>
      .box-shadow {
                  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
                  transition: box-shadow 0.1s ease-in-out;
      }
      .box-shadow:hover {
                  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.20);
      }
    </style>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
              <a class="navbar-brand mr-4 logo-dark" href="{% url 'login' %}">Covid Connect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link font-weight-light far fa-newspaper fa-lg mt-2" data-toggle="tooltip" data-placement="bottom" title="News" href="{% url 'news-index' %}"></a>
                <a href="/tracker" class="nav-item nav-link fas fa-chart-line fa-lg mt-2" data-toggle="tooltip" data-placement="bottom" title="Tracker"></a>
              </div>
              <div class="navbar-nav">
                <a class="nav-item nav-link font-weight-light fas fa-question-circle fa-2x" data-toggle="tooltip" data-placement="bottom" title="About" href="{% url 'blog-about' %}"></a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
              </div>
            </div>
          </div>
        </nav>
    </header>
      
    <main role="main" class="container">
        <div class="row">
        <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="alert alert-info" style="border-radius: 15px;">
            <p class="text-secondary"><b>Note:</b> You need to login/sign up in order to make use of the app.</p>
            <p class="text-secondary">Thank you!</p>
          </div>
        </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>