{% extends "blog/base.html" %} 
{% block content %} 
{% for post in page_obj %}
<article class="media content-section box-shadow" style="border-radius: 15px;">
  <a href="{% url 'user-posts' post.author.username %}"><img class="rounded-circle article-img"
      src="{{ post.author.profile.image.url }}" /></a>
  <div class="media-body">
    <div class="article-metadata">
        {% if post.author in friends %}
          <a class="mr-2" style="text-decoration: none;" data-toggle="tooltip" data-placement="bottom" title="See this user's blogs"
          href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        {% elif post.author == user %}
          <a class="mr-2" style="text-decoration: none;" data-toggle="tooltip" data-placement="bottom" title="See this user's blogs"
          href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        {% else %}
          <a class="mr-2" style="text-decoration: none;" href="{% url 'not-friend' %}">{{ post.author }}</a>
        {% endif %}

      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      <small style="float: right;" class="text-muted">{{ post.date_posted|date:"h:i a" }}</small>
      </div>
      <h2>
      <a class="article-title font-weight-light" data-toggle="tooltip" data-placement="bottom"title="See this post in another window." href="{% url 'post-detail' post.id %}">
        {{ post.title }}
      </a>
      </h2>
      {% if  post.image.url == '/media/default.jpg' %}
        <p class="article-content">{{ post.content }}</p>
      {% else %}
        <a href="{% url 'post-detail' post.id %}"><img style="border-radius: 20px;" src ="{{post.image.url}}" alt ='post pic'></a>
        <p style="margin-top: 10px;" class="article-content">{{ post.content }}</p>
      {% endif %}

      <form action="{% url 'report_post' %}" method="post" style="padding-right: 20px;">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{ post.id }}" 
          class="btn btn-outline-danger button-dark"
          data-toggle="tooltip" data-placement="bottom" title="Report this post for fake content."
           style="font-size: 14px; float: right;">Report</button>
      </form>

    <div class="row" style="margin-left: 0px;">
    <form action="{% url 'like_post' %}" method="post" style="padding-right: 20px;">
      {% csrf_token %}
      <button type="submit" name="post_id" value="{{ post.id }}"
        class="btn btn-outline-primary button-dark fa fa-thumbs-up"></button>
      {{ post.total_likes }}
    </form>
    
    <form action="{% url 'dislike_post' %}" method="post" style="padding-right: 20px;">
      {% csrf_token %}
      <button type="submit" name="post_id" value="{{ post.id }}"
        class="btn btn-outline-primary button-dark fa fa-thumbs-down"></button>
      {{ post.total_dislikes }}
    </form>

    <a href="{% url 'post-detail' pk=post.pk %}" style="padding-right: 5px;"><button class="btn btn-outline-primary button-dark fa fa-comment-o" ></button></a>{{ post.comments.count }}
    </div>
  </div>
</article>
{% endfor %}
<center>
  <h6>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h6>
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
</center>
{% endblock content %}
