{% extends "blog/base_other.html" %}
{% block content %}
    {% for post in posts %}
    {% if user in post.likes.all %}
    <article class="media content-section box-shadow" style="border-radius: 15px;">
        <img class = "rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Profile Picture">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" style="text-decoration: none;" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            <small style="float: right;" class="text-muted">{{ post.date_posted|date:"h:i a" }}</small>
          </div>
          <h2><a class="article-title font-weight-light" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          {% if  post.image.url == '/media/default.jpg' %}
            <p class="article-content">{{ post.content }}</p>
          {% else %}
            <img style="border-radius: 20px;" src ="{{post.image.url}}" alt ='post pic'>
            <p style="margin-top: 10px;" class="article-content">{{ post.content }}</p>
          {% endif %}
          <hr>
          <!-- <a href="{% url 'post-detail' pk=post.pk %}" style="padding-right: 5px;"><button class="btn btn-outline-primary button-dark fa fa-comment-o" ></button></a>{{ post.comments.count }} -->
        </div>
    </article>
    {% endif %}
    {% endfor %}
    <center>
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    </center>
{% endblock content %}