{% extends "blog/base_users.html" %}
{% block content %}
<div class="row">
<div class="col-md-6" style="border-right: 1.5px solid gray;">
    {% if groupname == 'GenUser' %}
        <h3 style="text-align: center;">All Users ({{ users.count }})</h3>
    {% else %}
        <h3 style="text-align: center;">All {{ groupname }} Users ({{ users.count }})</h3>
    {% endif %}
    <hr/>
    <div style="overflow-y:scroll; overflow-x:hidden; width: 350px; height: 500px;">
    {% for user in users %}
    {% if not user in friends %}  
        <div class="content-section mr-2" style="border-radius: 15px;">
            <a href="{% url 'user-posts' user.username %}"><img class="rounded-circle article-img mb-3" style="float: left;" src="{{ user.profile.image.url }}"></a>
            <a class="article-metadata" style="text-decoration: none;" href="{% url 'not-friend' %}">{{ user.username }}<a class="fa fa-user-plus fa-1x dark-a" data-toggle="tooltip" data-placement="bottom" title="Add Friend" style="text-decoration: none; padding-left: 10px;" href="{% url 'change_friends' operation='add' pk=user.pk %}"></a></a>
            <p class="text-secondary mt-1">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    {% else %}
        <div class="content-section mr-2" style="border-radius: 15px;">
            <a href="{% url 'user-posts' user.username %}"><img class="rounded-circle article-img" style="float: left;" src="{{ user.profile.image.url }}"></a>
            <a class="article-metadata" style="text-decoration: none;" href="{% url 'user-posts' user.username %}">{{ user.username }}</a>
            <p class="text-secondary mt-1">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <hr/>
</div>
<div class="col-md-6">
    <h3 style="text-align: center;">All Friends ({{ friends.count }})</h3>
    <hr/>
    <div style="overflow-y:scroll; overflow-x:hidden; width: 350px; height: 500px;">
    {% for friend in friends %} 
    <div class="content-section mr-2" style="border-radius: 15px;">
        <a href="{% url 'user-posts' friend.username %}"><img class="rounded-circle article-img" style="float: left;" src="{{ friend.profile.image.url }}"></a>
        <a class="article-metadata" style="text-decoration: none;" href="{% url 'user-posts' friend.username %}">{{ friend.username }}<a class="fa fa-user-times fa-1x dark-a" data-toggle="tooltip" data-placement="bottom" title="Remove Friend" style=" text-decoration: none;padding-left: 10px;" href="{% url 'change_friends' operation='remove' pk=friend.pk %}"></a></a>
        <p class="text-secondary mt-1">{{ friend.first_name }} {{ friend.last_name }}</p>
    </div>
    {% endfor %}
    </div>
    <hr/>
</div>
</div>
{% endblock content %}
